*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.conteiner{
    padding: 15px;
    margin: 10px;
    height: 100cap;
    width: 100cap;
    border: 5px solid #455B2D;
    background-color: #69793B;
}
.titulo{
    display: block;
    color: #0F2615;
    padding-left: 5px;
}
.cabeçalho{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone{
    float: left;
    border-radius: 50%;
    border: 5px solid #455B2D;
    height: 90px;
    width: 90px;
}
.DirectRp{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #173C13;
    border-top: #173C13 1px solid;
    color: #173C13;
}
.thet{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid black;
    padding: 5px;
}
.ftpequena{
    width: 30px;
    height: 30px;
}